* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagens/backgroundgif.gif);
    background-size: 100% 100%;

}

.caixa-maior {
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 70px);
}

.botao-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.botao-buscar:hover {

    transform: scale(1.10);
    transition: 0.2s ease-in-out;
}

.img-buscar {
    width: 25px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #ffffff;
    font-size: 27px;
    font-weight: 300;
}

.tempo {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffffff;
    margin-top: 20px;
}